* {
  font-family: 'Maven Pro', sans-serif;
  margin: 0;
  padding: 0;
}
body{
  background-color: #6c3c9d;
}


header{
  display: flex; /*propriedade exibe os elementos Filhos de forma horizontal contidos no elemento Pai */
  margin-top: 2px;
  background-color: rgb(145, 117, 117); /*propriedade cor de fundo do elemento*/
  margin-bottom: px; /*Insere um espaçamento externo inferior  do elemento*/
  padding: 8px; /*Insere um espaçamento interno do elemento*/
  justify-content: space-between; /*Propriedade coloca um espaço no meio e separa os elementos fihos nos extremos*/
}


/*nav{
  background-color: orange; /*propriedade cor de fundo do elemento*
}*/


ul{
  display: flex; /*propriedade exibe os elementos Filhos de forma horizontal contidos no elemento Pai */
  align-items: center; /*Alinha o elemento verticalmente ao centro*/
  height: 100%; /*Esta propriedade altura ocupa toda espaço do elemento Pai alinhando ao centro */
}


nav ul li{
  list-style-type: none; /*Remove o marcadores da lista não ordenada*/
  margin-left: 16px; /*Insere um espaçamento a esquerda dos elementos*/
}


a{
  text-decoration: none; /*Remove underline do links da lista não ordenada*/
  color: rgb(255, 255, 255); /*propriedade cor da fonte do elemento*/
}


main{
  background-color: none; /*propriedade cor de fundo do elemento*/
  color: #FFFFFF; /*propriedade cor da fonte do elemento*/
  padding-top: 16px; /*Insere um espaçamento superior interno apenas do elemento*/
  padding-left: 12px;
  width: 800px;
  margin: 0 auto;
  
}


h1{
  font-size: 3rem;
  

}


h2{
  font-size: 1.5;
  margin-bottom: 20px;

}


h3{
  font-size: 1.2rem;
  margin-bottom: 12px;

}


section{
  display: flex; /*propriedade exibe os elementos Filhos de forma horizontal contidos no elemento Pai */
}

section div{
  background-image: url("img/bg_laranja.jpg"); /*propriedade imagem de fundo do elemento*/
  /*margin: 16px; Insere um espaçamento externo do elemento*/
  padding: 24px; /*Insere um espaçamento interno do elemento*/
  height: 200px; /*Insere uma altura no elemento*/
  width: 300px; /*Insere uma largura no elemento*/
  border-radius: 16px;
  
}

section div:first-of-type{
  margin-right: 16px;
}
section :first-of-type{
  margin-top: 5px;
}

footer{
  margin-top: 12px;
  background-color: lightgray;
  text-align: center;
  color: #df0000;
}